@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Oswald:wght@200..700&display=swap");
@import "tailwindcss";

@theme {
  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --color-mint-500: oklch(0.72 0.11 178);
  --color-mexicanpink: #ff4081;
  --color-grass: #003438;
  --color-mushell: #ffcc08;
  --color-sun: #f9f7ed;
  --color-aqua: #daf5f3;
  --animate-scrolling: scrolling 40s linear infinite;
  --shadow-10xl: 0 35px 35px rgba(0, 0, 0, 0.25);
}
@keyframes scrolling {
  from {
    transform: translate(0%);
  }
  to {
    transform: translate(calc(-50% - 0.5rem));
  }
}

.family-oswald {
  font-family: "Oswald", serif;
}

.family-lato {
  font-family: "Lato", serif;
}
